@page
@model AutoshopWebApp.Pages.SpareParts.EditModel

@{
    ViewData["Title"] = "Данные о запчасти";
}

<h2>Данные о запчасти</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SparePart.SparePartId" />
            <div class="form-group">
                <label asp-for="SparePart.MarkAndModel.CarMark" class="control-label"></label>
                <input asp-for="SparePart.MarkAndModel.CarMark" class="form-control" />
                <span asp-validation-for="SparePart.MarkAndModel.CarMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SparePart.MarkAndModel.CarModel" class="control-label"></label>
                <input asp-for="SparePart.MarkAndModel.CarModel" class="form-control" />
                <span asp-validation-for="SparePart.MarkAndModel.CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SparePart.PartPrice" class="control-label"></label>
                <input asp-for="SparePart.PartPrice" class="form-control" />
                <span asp-validation-for="SparePart.PartPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SparePart.PartCount" class="control-label"></label>
                <input asp-for="SparePart.PartCount" class="form-control" />
                <span asp-validation-for="SparePart.PartCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SparePart.PartName" class="control-label"></label>
                <input asp-for="SparePart.PartName" class="form-control" />
                <span asp-validation-for="SparePart.PartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
