@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Управление персоналом</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_WorkersNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

