<h3>Списки</h3>
<ul class="nav nav-pills nav-stacked">
    <li class="active">
        <a asp-page="./Index">Список сотрудников</a>
    </li>
    <li class="">
        <a asp-page="./Index">Перечень должностей</a>
    </li>
</ul>