@page
@model AutoshopWebApp.Pages.Workers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Worker.WorkerId" />
            <div class="form-group">
                <label asp-for="Worker.Firstname" class="control-label"></label>
                <input asp-for="Worker.Firstname" class="form-control" />
                <span asp-validation-for="Worker.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Lastname" class="control-label"></label>
                <input asp-for="Worker.Lastname" class="form-control" />
                <span asp-validation-for="Worker.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Patronymic" class="control-label"></label>
                <input asp-for="Worker.Patronymic" class="form-control" />
                <span asp-validation-for="Worker.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.BornDate" class="control-label"></label>
                <input asp-for="Worker.BornDate" class="form-control" />
                <span asp-validation-for="Worker.BornDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.StreetId" class="control-label"></label>
                <input asp-for="Worker.StreetId" class="form-control" />
                <span asp-validation-for="Worker.StreetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.HouseNumber" class="control-label"></label>
                <input asp-for="Worker.HouseNumber" class="form-control" />
                <span asp-validation-for="Worker.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.ApartmentNumber" class="control-label"></label>
                <input asp-for="Worker.ApartmentNumber" class="form-control" />
                <span asp-validation-for="Worker.ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.PositionId" class="control-label"></label>
                <input asp-for="Worker.PositionId" class="form-control" />
                <span asp-validation-for="Worker.PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
