@model AutoshopWebApp.Models.ForShow.IWorkerPage
@using AutoshopWebApp.Utilities
@using WorkerDetails

<h3>Списки</h3>
<ul class="nav nav-pills nav-stacked">
    <li class=@PageNavUtilities.PageNavClass(ViewContext, WorkerDetailsNavPages.workerDetails)>
        <a asp-page="./Index" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Данные сотрудника</a>
    </li>
    <li class=@PageNavUtilities.PageNavClass(ViewContext, WorkerDetailsNavPages.transactionList)>
        <a asp-page="./TransactionList" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Сведения о переводах</a>
    </li>
    <li class=@PageNavUtilities.PageNavClass(ViewContext, WorkerDetailsNavPages.edit)>
        <a asp-page="./Edit" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Редактирование данных</a>
    </li>
    <li class=@PageNavUtilities.PageNavClass(ViewContext, WorkerDetailsNavPages.addTransaction)>
        <a asp-page="./AddTransaction" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Оформление перевода</a>
    </li>
    @if (User.IsInRole(AutoshopWebApp.Authorization.Constants.AdministratorRole))
    {
        <li class=@PageNavUtilities.PageNavClass(ViewContext, WorkerDetailsNavPages.editAccount)>
            <a asp-page="./EditAccount" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Данные учётной записи</a>
        </li>
    }
</ul>