@model AutoshopWebApp.Models.ForShow.IWorkerPage
@using AutoshopWebApp.Utilities

<h3>Списки</h3>
<ul class="nav nav-pills nav-stacked">
    <li class="active">
        <a asp-page="./Index" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Данные сотрудника</a>
    </li>
    <li class="">
        <a asp-page="./TransactionList" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Сведения о переводах</a>
    </li>
    <li class="">
        <a asp-page="./Edit" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Редактирование данных</a>
    </li>
    <li class="">
        <a asp-page="./AddTransaction" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Оформление перевода</a>
    </li>
    <li class="">
        <a asp-page="./EditAccount" asp-route-id=@Model.WorkerCrossPageData.WorkerID>Данные учётной записи</a>
    </li>
</ul>