@page "{id:int?}"
@model AutoshopWebApp.Pages.Workers.WorkerDetails.EditAccountModel
@{
    ViewData["Title"] = "Данные учётной записи";
}

<h3>Данные учётной записи</h3>

@if (Model.PageData == null)
{
    <h4>У этого сотрудника нет учётной записи</h4>
    <a class="btn btn-default" asp-page="AddAccount" asp-route-id=@Model.WorkerCrossPageData.WorkerID>
        Создать учётную запись
    </a>
}
else
{

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PageData.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageData.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageData.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageData.Role)
        </dd>
    </dl>

    

    <form method="post">
        <a class="btn btn-default" asp-page="ChangeLogin" asp-route-id=@Model.WorkerCrossPageData.WorkerID>
            Изменить имя и роль
        </a>
        <a class="btn btn-default" asp-page="ChangePassword" asp-route-id=@Model.WorkerCrossPageData.WorkerID>
            Изменить пароль
        </a>
        <button class="btn btn-default" type="submit" asp-page-handler="RemoveAccount">Удалить аккаунт</button>
    </form>
}