@page
@model AutoshopWebApp.Pages.MainMenuModel
@{
    ViewData["Title"] = "MainMenu";
}

<h2>Главное меню</h2>

<div class="row">
    <div class="col-md-6">
        <div>
            <h4> Оформление справки о взятии автомобиля на экспертизу </h4>
            <a class="btn btn-default" href="~/Index"> Оформить справку </a>
        </div>
        <div>
            <h4> Добавление информации о техническом состоянии автомобиля </h4>
            <a class="btn btn-default" href="~/Index"> Добавить информацию </a>
        </div>
        <div>
            <h4> Оформление покупки автомобиля у клиента </h4>
            <a class="btn btn-default" href="~/Index"> Оформить договор </a>
        </div>
        <div>
            <h4> Оформление продажи автомобиля клиенту </h4>
            <a class="btn btn-default" href="~/Index"> Оформить договор </a>
        </div>
    </div>
    
</div>


