@page
@model AutoshopWebApp.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Добавление автомобиля";
}

<h2>Добавление автомобиля</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MarkAndModelData.CarMark" class="control-label"></label>
                <input asp-for="MarkAndModelData.CarMark" class="form-control" />
                <span asp-validation-for="MarkAndModelData.CarMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkAndModelData.CarModel" class="control-label"></label>
                <input asp-for="MarkAndModelData.CarModel" class="form-control" />
                <span asp-validation-for="MarkAndModelData.CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.Color" class="control-label"></label>
                <input asp-for="CarData.Color" class="form-control" />
                <span asp-validation-for="CarData.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.EngineNumber" class="control-label"></label>
                <input asp-for="CarData.EngineNumber" class="form-control" />
                <span asp-validation-for="CarData.EngineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.BodyNumber" class="control-label"></label>
                <input asp-for="CarData.BodyNumber" class="form-control" />
                <span asp-validation-for="CarData.BodyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.ChassisNumber" class="control-label"></label>
                <input asp-for="CarData.ChassisNumber" class="form-control" />
                <span asp-validation-for="CarData.ChassisNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.ReleaseDate" class="control-label"></label>
                <input asp-for="CarData.ReleaseDate" class="form-control" />
                <span asp-validation-for="CarData.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.RegNumber" class="control-label"></label>
                <input asp-for="CarData.RegNumber" class="form-control" />
                <span asp-validation-for="CarData.RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.Run" class="control-label"></label>
                <input asp-for="CarData.Run" class="form-control" />
                <span asp-validation-for="CarData.Run" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.ReleasePrice" class="control-label"></label>
                <input asp-for="CarData.ReleasePrice" class="form-control" />
                <span asp-validation-for="CarData.ReleasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.SellingPrice" class="control-label"></label>
                <input asp-for="CarData.SellingPrice" class="form-control" />
                <span asp-validation-for="CarData.SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarData.BuyingPrice" class="control-label"></label>
                <input asp-for="CarData.BuyingPrice" class="form-control" />
                <span asp-validation-for="CarData.BuyingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
