@using AutoshopWebApp.Utilities

<ul class="nav nav-pills nav-stacked">
    <li class=@PageNavUtilities.PageNavClass(ViewContext, AdminNavPages.changeLogin)>
        <a asp-page="./ChangeLogin">Изменить имя пользователя</a>
    </li>
    <li class=@PageNavUtilities.PageNavClass(ViewContext, AdminNavPages.changePassword)>
        <a asp-page="./ChangePassword">Изменить пароль</a>
    </li>
    <li class=@PageNavUtilities.PageNavClass(ViewContext, AdminNavPages.paymentTypes)>
        <a asp-page="./PaymentTypeList">Перечень типов оплаты</a>
    </li>
</ul>

