@page
@model AutoshopWebApp.Pages.Admin.AdminChangePasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
}

<h4>Изменение пароля @Model.PasswordModel.UserName</h4>
<partial name="_StatusMessage" model=@Model.StatusMessage />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PasswordModel.OldPassword"></label>
                <input asp-for="PasswordModel.OldPassword" class="form-control" />
                <span asp-validation-for="PasswordModel.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordModel.NewPassword"></label>
                <input asp-for="PasswordModel.NewPassword" class="form-control" />
                <span asp-validation-for="PasswordModel.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordModel.NewPassword2"></label>
                <input asp-for="PasswordModel.NewPassword2" class="form-control" />
                <span asp-validation-for="PasswordModel.NewPassword2" class="text-danger"></span>
            </div>
            <input asp-for="PasswordModel.UserID" class="hidden" />
            <button type="submit" class="btn btn-default">Изменить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
