@page
@model AutoshopWebApp.Pages.Cars.CarDetails.AddExpertiseRefModel

@{
    ViewData["Title"] = "AddExpertiseRef";
}

<h2>Добавление справки о ТС</h2>

<h4>Автомобиль @Model.MarkAndModel.CarMark @Model.MarkAndModel.CarModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarStateRef.CarId" />
            <div class="form-group">
                <label asp-for="CarStateRef.ReferenceNumber" class="control-label"></label>
                <input asp-for="CarStateRef.ReferenceNumber" class="form-control" />
                <span asp-validation-for="CarStateRef.ReferenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarStateRef.ReferenceDate" class="control-label"></label>
                <input asp-for="CarStateRef.ReferenceDate" class="form-control" />
                <span asp-validation-for="CarStateRef.ReferenceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarStateRef.Expert" class="control-label"></label>
                <input asp-for="CarStateRef.Expert" class="form-control" />
                <span asp-validation-for="CarStateRef.Expert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarStateRef.ExpertisePrice" class="control-label"></label>
                <input asp-for="CarStateRef.ExpertisePrice" class="form-control" />
                <span asp-validation-for="CarStateRef.ExpertisePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-id="@Model.CarStateRef.CarId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
