@page
@model AutoshopWebApp.Pages.Cars.CarDetails.AddPoolExpertiseRefModel

@{
    ViewData["Title"] = "AddPoolExpertiseRef";
}

<h2>AddPoolExpertiseRef</h2>

<h4>PoolExpertiseReference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarId" />
            <div class="form-group">
                <label asp-for="PoolExpertiseReference.ClientFirstname" class="control-label"></label>
                <input asp-for="PoolExpertiseReference.ClientFirstname" class="form-control" />
                <span asp-validation-for="PoolExpertiseReference.ClientFirstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolExpertiseReference.ClientLastname" class="control-label"></label>
                <input asp-for="PoolExpertiseReference.ClientLastname" class="form-control" />
                <span asp-validation-for="PoolExpertiseReference.ClientLastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolExpertiseReference.ClientPatronymic" class="control-label"></label>
                <input asp-for="PoolExpertiseReference.ClientPatronymic" class="form-control" />
                <span asp-validation-for="PoolExpertiseReference.ClientPatronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolExpertiseReference.IssueDate" class="control-label"></label>
                <input asp-for="PoolExpertiseReference.IssueDate" class="form-control" />
                <span asp-validation-for="PoolExpertiseReference.IssueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
