@page
@model AutoshopWebApp.Pages.Cars.CarDetails.ExpertiseReferenceModel
@{
    Layout = null;
    ViewData["Title"] = "ExpertiseReference";
}

<style>
    body{
        width:210mm;
        font-family:'Times New Roman';
    }
        body h2 {
            text-align: center;
        }
        body p {
            text-align:justify;
            line-height: 7mm;
            text-indent: 13mm;
        }
</style>

<h2>Справка о взятии автомобиля на экспертизу</h2>
<p>
    Выдана гражданину ФАМИЛИЯ ИМЯ ОТЧЕСТВО в связи с тем, что принадлежащее ему транспортное средство
    будет временно находится в пользовании автосалона, с целью проведения технической экспертизы.
    Автосалон обязуется вернуть автомобиль владельцу в течение трёх рабочих дней со дня выдачи данной справки.
</p>
<p>
    Автомобиль МАРКА МОДЕЛЬ, цвет: ЦВЕТ, номер двигателя: НОМЕР_ДВИГАТЕЛЯ, номер кузова: НОМЕР_КУЗОВА,
    номер кузова (если есть): НОМЕР_ШАССИ, дата выпуска: ДАТА_ВЫПУСКА, номер регистрации: НОМЕР_РЕГИСТРАЦИИ,
    пробег: ПРОБЕГ.
</p>
<p>Дата выдачи справки: ДАТА_СПРАВКИ</p>
<p>
    Сотрудник: ФАМИЛИЯ И. О. 
    <span style="float:right">
        Подпись сотрудника:_______________
    </span>
</p>
<p>
    Продавец: ФАМИЛИЯ И. О.
    <span style="float:right">
        Подпись продавца:_______________
    </span>
</p>

